apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: "{{ .Values.appName }}"
  name: "{{ .Values.env }}-{{ .Values.appName }}"
  namespace: "{{ .Values.nsName }}"
spec:
  replicas: {{ .Values.replicasCount }}
  selector:
    matchLabels:
      app: "{{ .Values.appName }}"
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: "{{ .Values.appName }}"
    spec:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 82          # www-data UID
        runAsGroup: 82         # www-data GID
        fsGroup: 82            # Ensures volume permissions
        seccompProfile:
          type: RuntimeDefault
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - "{{ .Values.appName }}"
              topologyKey: "kubernetes.io/hostname"
      volumes:
        - name: "{{ .Values.appName }}-{{ .Values.volumeName }}"
          persistentVolumeClaim:
            claimName: "{{ .Values.persistentVolumeClaim }}-{{ .Values.appName }}"
        - name: tmp
          emptyDir: {}
        - name: cache
          emptyDir: {}
        - name: run
          emptyDir: {}
      initContainers:
        - name: wait-for-nfs
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Waiting for NFS server..."
              until ping -c 1 {{ .Values.nfsServer }} >/dev/null 2>&1; do
                echo "NFS not reachable, retrying..."
                sleep 2
              done
              echo "NFS server is reachable."
      containers:
        - image: "{{ .Values.imageRelease }}"
          name: "{{ .Values.appName }}-container"
          resources: {}
          ports:
            - containerPort: {{ .Values.containerPortNumber }}
          volumeMounts:
            - mountPath: "{{ .Values.mountPoint }}"
              name: "{{ .Values.appName }}-{{ .Values.volumeName }}"
            - mountPath: /tmp
              name: tmp
            - mountPath: /var/cache
              name: cache
            - mountPath: /var/run
              name: run
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - |
                  mountpoint -q "{{ .Values.mountPoint }}"
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true  # NOW SECURE! Root filesystem is read-only
            runAsNonRoot: true
            capabilities:
              drop:
              - ALL